body{
margin:0;
background: linear-gradient(135deg, #0D6D77, #1B7F8A, #83C5BE);
background-size:cover;
}

/* HEADER */

.header{
display:flex;
align-items:center;
justify-content:center;
position:relative;
padding:30px;
}

.logo{
position:absolute;
left:30px;
width:320px;
}

/* TITLE */

.title{
color:#ffffff;
font-size:60px;
letter-spacing:5px;
text-shadow:2px 2px 10px rgba(0,0,0,0.4);
}

/* MAIN PANEL */

.notes-container{
width:60%;
margin:auto;
background: linear-gradient(145deg, #ffffff, #f3f7f7);
padding:40px;
border-radius:18px;
box-shadow:
0 15px 35px rgba(0,0,0,0.25);

}

/* SUBJECT CARDS */

.subject{

background: linear-gradient(145deg, #F0F7F7, #E6F2F2);

padding:18px;

margin:14px 0;

border-radius:10px;

font-size:20px;

cursor:pointer;

transition:all 0.25s ease;

box-shadow:0 4px 10px rgba(0,0,0,0.12);

}

/* HOVER EFFECT */

.subject:hover{

transform:translateY(-3px) scale(1.02);

background: linear-gradient(135deg, #E0F0F0, #FFD6A5);

box-shadow:0 8px 18px rgba(0,0,0,0.2);

}

/* NOTES DISPLAY */

.notes-content{
width:60%;
margin:30px auto;
}

.note{

display:none;

background: linear-gradient(145deg, #ffffff, #f5f9f9);

padding:25px;

border-radius:12px;

box-shadow:0 8px 20px rgba(0,0,0,0.2);

animation:fade 0.3s ease;

}

/* BUTTON LINK */

.note a{

display:inline-block;

margin-top:12px;

padding:10px 20px;

background: linear-gradient(135deg, #0D6D77, #1B7F8A);

color:white;

text-decoration:none;

border-radius:6px;

transition:0.3s;

}

.note a:hover{

background: linear-gradient(135deg, #083f45, #146b73);
transform:scale(1.05);

}

/* ANIMATION */

@keyframes fade{

from{opacity:0; transform:translateY(10px);}
to{opacity:1; transform:translateY(0);}

}
/* NAVBAR */
.navbar{
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
border:1px solid var(--border);
top:0;
left:0;
background: rgba(1, 55, 61, 0.93);
backdrop-filter: blur(16px);
border-bottom: 1px solid rgba(3, 78, 90, 0.2);
box-shadow: 0 6px 20px rgba(4, 51, 58, 0.778);
animation:slideDown .5s ease;
}

@keyframes slideDown{
from{opacity:0;transform:translateY(-15px);}
to{opacity:1;transform:translateY(0);}
}

.logo-section h2{
font-size:30px;
background: linear-gradient(45deg, #fdffff, #1891a6);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}
.nav-links a{
color:white;
text-decoration: none;
transition:.3s;
font-size:18px;
font-weight:500;
/* it gets a little bit of a lift when hovered over, and the color changes to yellowgreen for a fresh and vibrant look. This adds an interactive and engaging element to the navigation experience, making it more visually appealing and user-friendly. */
transform:translateY(-2px);
}

.nav-links a:hover{
transform:translateY(2px);
color:yellowgreen;
}
.profile img{
width:45px;
height:45px;
border-radius:50%;
border:2px solid var(--cyan);
transition:.3s;
}

.profile img:hover{
transform:scale(1.08);
}